/*Correctly define body and html tags*/

html,
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
}

body { /* set body's background*/
	background: #292a2b;
}


/*--------------*/

a { /*styling links*/
	text-decoration: none;
	color: white;
}

/*styling headings*/
h1 {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 50px;
	text-align: center;
}

h2 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 30px;
}
/*-----*/
.terms { /*styling main div, the one displaying terms*/
	margin-top: 50px; /*add margin to let navbar some place*/
	width: 100%;
	min-height: 100%;
	background-image: url("../img/cgu-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
}

#cgu-image { /*styling image*/
	border-bottom: solid black 3px;
	width: 60px;
	height: 60px;
}

.terms p { /*styling text*/
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}



@media screen and (max-width: 640px) {
	/*when user is on mobile*/
	.terms {
		margin-top: 100px; /*when user is on mobile, add more margin, because the navbar is increasing it's height*/
	}
	}
}
