/*Correctly define body and html tags*/

html,
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
}

body {
	background: #292a2b;
}


/*--------------*/

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 50px;
	text-align: center;
}

h2 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 30px;
}

.terms {
	margin-top: 50px;
	width: 100%;
	min-height: 100%;
	background-image: url("../img/cgu-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
}

#cgu-image {
	border-bottom: solid black 3px;
	width: 60px;
	height: 60px;
}

.terms p {
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}



@media screen and (max-width: 640px) {
	/*giving some space for the navbar when user opens page*/
	.terms {
		margin-top: 100px;
	}
}
