/*Correctly define body and html tags*/
html,
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
}
body { /*set background for body*/
	background-color: #292a2b;
}

.emptydiv { /*Styling the empty div which is filling the whole page*/
	width: 100%;
	height: 100%;
	margin-top: 50px; /*to let some place for the navbar*/
	overflow:auto;
}


h1 {
	/*editing h1 just to add margin on the top and set it's color to white*/
	text-align: center;
	color: white;
}

a { /*set link (a href)*/
	text-decoration: none;
	color: white;
}



@media screen and (max-width: 640px) {
	/*when user is on mobile*/
	.emptydiv {
		margin-top: 100px;/*when user is on mobile, add more margin, because the navbar is increasing it's height*/
	}
}
