/*Correctly define body and html tags*/
html,
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
}


body {
	background-color: #292a2b;
}

.emptydiv {
	width: 100%;
	height: 100%;
	background-color: black;
	margin-top: 50px;
}


h1 {
	/*editing h1 just to add margin on the top; in this way the navbar won't hide it!*/
	text-align: center;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}



@media screen and (max-width: 640px) {
	/*giving some space for the navbar when user opens page*/
	.emptydiv {
		margin-top: 100px;
	}
}