/*defining the divs containing most part of the page*/

html {
	/*Correctly define body and html tags*/
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
	scroll-behavior: smooth;
}



.accueil,
.projets {
	width: 100%;
	height: 100%;
}


.accueil {
	/*TO let the navbar place*/
	margin-top: 50px;
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	background: #292a2b;
}

@keyframes home-animation {
	0%   { background-color: rgb(0,0,0); color: white; }
	25%  { background-color: #4B87EE; color: white; }
	50%  { background-color: #1D2973; color: #46D7AC; }
	75% { background-color: #2C2F33; color: #99AAB5; }
	100%   { background-color: rgb(0,0,0); color: white; }
}

.accueil {
	/*background-image: url("../img/home-background.png");
	background-repeat: no-repeat;
	background-size: cover;*/
	animation: home-animation 10s infinite;
	display: flex;
	align-items:center;
	justify-content: center;
}


.accueil h1 {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 100px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

.accueil img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 25vh;
	height: 30vh;
}


@keyframes chevron-pulsate {
    25%   {
			display:inline-block;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1); /* W3C */
	 }
    100%  {     display:inline-block;
    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
	transform:scale(1); /* W3C */ }
}

#homechevron{
	animation: chevron-pulsate 2s infinite;
	font-size: 50px;
}
#homechevron:hover{
	font-weight: bold;
}
/*------------------------*/

.projets {
	background-color: #46D7AC;
}

h2 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 70px;
	padding: 0;
	margin: 0;
	color: white;
}

#comingsoon{
 color: black;
 font-size: 50px;
 font-weight: bold;
 font-family: 'Roboto Condensed', sans-serif;
 text-align : center;
}
.projets button{
	margin: 0 auto;
	display: block;
	font-size: 30px;
	background-color: #72DCF6;
	border: 7px solid #8292F1;
	border-radius: 5px;
	width: 55%;
	min-height: 50px;
	font-weight: bold;
	transition: font-size 0.5s;
}
.projets button:hover{
	font-size: 35px;
	border-radius: 7px;
}
/*---Quote*/
@keyframes border-anim {
    0%   { border-color: rgba(0, 255, 255, 1); }
    50%  { border-color: #46D7AC }
    100% { border-color: rgba(0, 255, 255, 1); }
}

.blockquote {
	text-align: center;
	text-decoration: bold;
	font-weight: bold;
	font-size: 40px;
	font-family: 'Roboto Condensed', sans-serif;
	border-top: 5px solid cyan;
    animation: border-anim 2s infinite;
}

#quote {
	font-size: 70px;
}


/*---mobile users*/
@media screen and (max-width: 640px) {
	/*giving some space for the navbar when user opens page*/
	#quote{
		font-size: 50px;
	}
	.blockquote{
		font-size: 30px;
	}
	.accueil h1 {
		font-size: 70px;
	}
	#homechevron{
		display: none;
	}
}
